<%- include('partials/header'); -%>


<form>
    <h2>Sign up</h2>
    <label for="name">Username</label>
    <input type="text" name="name" required>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">password</label>
    <input type="password" name="password" required>
    <button>Signup</button>
    <p class="error"> </p>
</form>

<script>
    const form = document.querySelector('form')
    const errorField = document.querySelector('.error')

    form.addEventListener('submit', async (e)=>{
        e.preventDefault()

        const email = form.email.value
        const password = form.password.value
        const name = form.name.value
        
        try {
            //sender data som lager bruker
            const res = await fetch('/adduser',{
                method: 'post',
                body: JSON.stringify({email,password,name}),
                headers: {'Content-Type': 'application/json'}
            })
            //venter på user data
            const data = await res.json()
            console.log(data)

            // Error handler
            if(data.err){
                errorField.textContent = 'Email or username taken'
            }
            //hvis det ble laget en user så redirect 
            if(data.user) {
                location.assign('/')
            }

        } catch (err) {
            console.log(err)
        }
    })
</script>
<%- include('partials/footer'); -%>